body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
a{
    color: black;
}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    
    }
    
    
    .div1 { 
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
 
    position: absolute;
    border: 1px black dotted;
    height: 100px;
    width: 100px;
    }
    .div1:hover{
        background-color: black;
        color:white;
        cursor: pointer;
    }
#title{
    position: absolute;
   top: 22%;
   left: 35%;
}
    
    .div2 { grid-area: 1 / 2 / 2 / 3;
     }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }
    .div6 { grid-area: 1 / 6 / 2 / 7; }
    .div7 { grid-area: 1 / 7 / 2 / 8; }
    .div8 { grid-area: 1 / 8 / 2 / 9; }
    .div9 { grid-area: 1 / 9 / 2 / 10; }
    .div10 { grid-area: 1 / 10 / 2 / 11; }
    .div11 { grid-area: 2 / 1 / 3 / 2; }
    .div12 { grid-area: 2 / 2 / 3 / 3; }
    .div13 { grid-area: 2 / 3 / 3 / 4; }
    .div14 { grid-area: 2 / 4 / 3 / 5; }
    .div15 { grid-area: 2 / 5 / 3 / 6; }
    .div16 { grid-area: 2 / 6 / 3 / 7; }
    .div17 { grid-area: 2 / 7 / 3 / 8; }
    .div18 { grid-area: 2 / 8 / 3 / 9; }
    .div19 { grid-area: 2 / 9 / 3 / 10; }
    .div20 { grid-area: 2 / 10 / 3 / 11; }
    .div21 { grid-area: 3 / 1 / 4 / 2; }
    .div22 { grid-area: 3 / 2 / 4 / 3; }
    .div23 { grid-area: 3 / 3 / 4 / 4; }
    .div24 { grid-area: 3 / 4 / 4 / 5; }
    .div25 { grid-area: 3 / 5 / 4 / 6; }
    .div26 { grid-area: 3 / 6 / 4 / 7; }
    .div27 { grid-area: 3 / 7 / 4 / 8; }
    .div28 { grid-area: 3 / 8 / 4 / 9; }
    .div29 { grid-area: 3 / 9 / 4 / 10; }
    .div30 { grid-area: 3 / 10 / 4 / 11; }
    .div31 { grid-area: 4 / 1 / 5 / 2; }
    .div32 { grid-area: 4 / 2 / 5 / 3; }
    .div33 { grid-area: 4 / 3 / 5 / 4; }
    .div34 { grid-area: 4 / 4 / 5 / 5; }
    .div35 { grid-area: 4 / 5 / 5 / 6; }
    .div36 { grid-area: 4 / 6 / 5 / 7; }
    .div37 { grid-area: 4 / 7 / 5 / 8; }
    .div38 { grid-area: 4 / 8 / 5 / 9; }
    .div39 { grid-area: 4 / 9 / 5 / 10; }
    .div40 { grid-area: 4 / 10 / 5 / 11; }
    .div41 { grid-area: 5 / 1 / 6 / 2; }
    .div42 { grid-area: 5 / 2 / 6 / 3; }
    .div43 { grid-area: 5 / 3 / 6 / 4; }
    .div44 { grid-area: 5 / 4 / 6 / 5; }
    .div45 { grid-area: 5 / 5 / 6 / 6; }
    .div46 { grid-area: 5 / 6 / 6 / 7; }
    .div47 { grid-area: 5 / 7 / 6 / 8; }
    .div48 { grid-area: 5 / 8 / 6 / 9; }
    .div49 { grid-area: 5 / 9 / 6 / 10; }
    .div50 { grid-area: 5 / 10 / 6 / 11; }
    .div51 { grid-area: 6 / 1 / 7 / 2; }
    .div52 { grid-area: 6 / 2 / 7 / 3; }
    .div53 { grid-area: 6 / 3 / 7 / 4; }
    .div54 { grid-area: 6 / 4 / 7 / 5; }
    .div55 { grid-area: 6 / 5 / 7 / 6; }
    .div56 { grid-area: 6 / 6 / 7 / 7; }
    .div57 { grid-area: 6 / 7 / 7 / 8; }
    .div58 { grid-area: 6 / 8 / 7 / 9; }
    .div59 { grid-area: 6 / 9 / 7 / 10; }
    .div60 { grid-area: 6 / 10 / 7 / 11; }
    .div61 { grid-area: 7 / 1 / 8 / 2; }
    .div62 { grid-area: 7 / 2 / 8 / 3; }
    .div63 { grid-area: 7 / 3 / 8 / 4; }
    .div64 { grid-area: 7 / 4 / 8 / 5; }
    .div65 { grid-area: 7 / 5 / 8 / 6; }
    .div66 { grid-area: 7 / 6 / 8 / 7; }
    .div67 { grid-area: 7 / 7 / 8 / 8; }
    .div68 { grid-area: 7 / 8 / 8 / 9; }
    .div69 { grid-area: 7 / 9 / 8 / 10; }
    .div70 { grid-area: 7 / 10 / 8 / 11; }
    .div71 { grid-area: 8 / 1 / 9 / 2; }
    .div72 { grid-area: 8 / 2 / 9 / 3; }
    .div73 { grid-area: 8 / 3 / 9 / 4; }
    .div74 { grid-area: 8 / 4 / 9 / 5; }
    .div75 { grid-area: 8 / 5 / 9 / 6; }
    .div76 { grid-area: 8 / 6 / 9 / 7; }
    .div77 { grid-area: 8 / 7 / 9 / 8; }
    .div78 { grid-area: 8 / 8 / 9 / 9; }
    .div79 { grid-area: 8 / 9 / 9 / 10; }
    .div80 { grid-area: 8 / 10 / 9 / 11; }
    .div81 { grid-area: 9 / 1 / 10 / 2; }
    .div82 { grid-area: 9 / 2 / 10 / 3; }
    .div83 { grid-area: 9 / 3 / 10 / 4; }
    .div84 { grid-area: 9 / 4 / 10 / 5; }
    .div85 { grid-area: 9 / 5 / 10 / 6; }
    .div86 { grid-area: 9 / 6 / 10 / 7; }
    .div87 { grid-area: 9 / 7 / 10 / 8; }
    .div88 { grid-area: 9 / 8 / 10 / 9; }
    .div89 { grid-area: 9 / 9 / 10 / 10; }
    .div90 { grid-area: 9 / 10 / 10 / 11; }
    .div91 { grid-area: 10 / 1 / 11 / 2; }
    .div92 { grid-area: 10 / 2 / 11 / 3; }
    .div93 { grid-area: 10 / 3 / 11 / 4; }
    .div94 { grid-area: 10 / 4 / 11 / 5; }
    .div95 { grid-area: 10 / 5 / 11 / 6; }
    .div96 { grid-area: 10 / 6 / 11 / 7; }
    .div97 { grid-area: 10 / 7 / 11 / 8; }
    .div98 { grid-area: 10 / 8 / 11 / 9; }
    .div99 { grid-area: 10 / 9 / 11 / 10; }
    .div100 { grid-area: 10 / 10 / 11 / 11; }