*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url('img/sky.jpg')
}

.gallery{
    position: relative;
    top: 25rem;
    width: 25rem;
    transform-style: preserve-3d;
    transform: perspective(2000px) rotate3d(-.5, 1, 0, 0deg);
    animation: circular-rotate 60s linear infinite;
    transition: 5s ease;
}

@keyframes circular-rotate {
    to {
        transform: rotate3d(0.5, 1, 0, 360deg)  perspective(2000px);

    }
}

.gallery img{
    position: absolute;
    /* background-color: wheat; */
    width: 100%;
    cursor: pointer;
    /* -webkit-box-reflect: below .2rem linear-gradient(transparent,black); */
   
    /* transform: rotate3d(0, 1, 0, calc(var(--img_no)*40deg)) translateZ(25rem); */
}
   