
body{
    margin: 0%;
    padding: 0%;
}
.parent{
    position: relative;
    margin-top:6%;
    left: 5%;
  
}
img{
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
   
}
#river {
    /* top: 400px ;
    left: 550px; */
    /* width: 500px;
    height: 300px; */
    /* position: absolute;  */
  }
#dog{
  
}
#weddingshoot{

}
#freedom{

}
#singer{

}

  #largegif{
   position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
  }