body {
    
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
  }

#text{
   
    width: 600px;
    height: auto;
    color: red;
    font-size: 4em;
   
}