* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(sad-emoji-poster.png);
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: gray;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;

}

