*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: freeSans;
    src: url(FreeSans.ttf);

}
 body{
    overscroll-behavior: none;
    font-family: freeSans;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    overflow: hidden;
}

#text{
    position: relative;
    color: white;
    font-size: 10em;
    cursor: default;

}

#light{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: wheat;
    border-radius: 50%;
    box-shadow: 0 0 15px #fff,
    0 0 50px #fff,
    0 0 100px #fff,
    0 0 200px #fff,
    0 0 300px #fff;;
}