body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  background-color: beige;
  
}

.parent{
position:relative;
}

#hour {
    position: absolute;
  color: green;
  font-size: 15em;
  transition: 0.5s;
  left:200px;
  top:200px;
  animation: rotation 360s infinite linear;
 
}

#min {
    position: absolute;
  color: blue;
  font-size: 10em;
  transition: 0.5s;
  left:20px;
  top:20px;
  animation: rotation 60s infinite linear;
}

#sec {
    position: absolute;
  color: orange;
  font-size: 5em;
  transition: 0.5s;
  animation: rotation 5s infinite linear;

}

#line{
    position:absolute;
    width:10px;
    background-color:red;
    transition: 0.5s;
  }  

  #line2{
    position:absolute;
    width:4px;
    background-color:red;
    transition: 0.5s;
  }  

  #randCenter{
    position:absolute;
    
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  